.filter-genre {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
  
  .filter-genre select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: white;
  }
  